<div class="row">
  <div class="col s12">
    <nav class="nav-extended teal lighten-1">
      <div class="nav-content">
        <ul class="tabs tabs-transparent">
          <li class="tab disabled"><a>Sort by: </a></li>
          <li (click)="sortWithName()" class="tab"><a>Name</a></li>
          <li (click)="sortWithUsername()" class="tab"><a>Username</a></li>
          <li (click)="sortWithPhone()" class="tab"><a>Phone</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="col s12">
    <div class="card-panel">
      <div class="row">
        <button (click)="disableSort()" class="btn teal lighten-1">Disable sort</button>
        <button routerLink="/app-forms" class="btn red">Add person</button>
      </div>
    </div>
    <div class="card-panel">
      <div class="row">
        <app-card   
          class="col s3"
          *ngFor="let people of persons"
          [cardData]="people"
        ></app-card>
      </div>
    </div>
  </div>
</div>
