<div class="container">
  <div class="col s12">
    <nav>
      <div class="nav-wrapper teal lighten-1">
        <a href="#" class="brand-logo">Train</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a routerLink="/app-main">Main</a></li>
            <li><a routerLink="/app-people">People</a></li>
            <li><a routerLink="/app-forms">Forms</a></li>
          <li><a href="#">Game</a></li>
        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>